{% extends 'base.html' %}

{% block title %}Edit content{% endblock %}

{% block content %}

    {% if item %}
        {{ item.item }}
        <form class="form-inline my-2 my-lg-0" method="POST">
       {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" placeholder="{{ item.item }}" aria-label="add Todo" name="item" value="{{ item.item }}">
            <input type="hidden" value="{{ item.completed }}" name="completed">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit to list</button>
        </form>
    {% endif %}

{% endblock %}